<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <title>bits, please</title>

    <!-- Bootstrap -->
    <link type='text/css' href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link type='text/css' href="stylesheets/styles.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link type='text/css' rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.ejs">Home</a>
                    </li>
                    <li class="active"><a href="demo.html">Demo</a>
                    </li>
                    <li><a href="useage.html">Usage</a>
                    </li>
                    <li><a href="about.html">About</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotronMini">
        <div class="container">
            <h1>Demo</h1>
        </div>
    </div>

    <div class="layerBetaCP">
        <div class="container">
            <ul class="nav nav-pills" style="float: left;">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                              Sort by color <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-square red"></i> Red</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square orange"></i> Orange</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square yellow"></i> Yellow</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square green"></i> Green</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square blue"></i> Blue</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square purple"></i> Purple</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square brown"></i> Brown</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square beige"></i> Beige</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square pink"></i> Pink</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square cyan"></i> Cyan</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square grey"></i> Grey</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square black"></i> Black</a>
                        </li>
                        <li><a href="#"><i class="fa fa-square white"></i> White</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="btn btn-default" style="float: left;">Color Graph</button>
        </div>
    </div>

    <div class="layerAlpha" style="padding-top: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 pad hoverable">
                    <div class="normal">
                        <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                    </div>
                    <div class="hover" style="background: #ffffff;">
                        <p class="centered" style = "padding-top: 10%;"><strong>Primary Color:</strong></p>
                        <p class="centered">Red</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
                <div class="col-md-2 col-sm-4 pad">
                    <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg" class="img-responsive center">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <ul class="list-inline" style="margin-bottom: 0%;">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="demo.html">Demo</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="usage.html">Usage</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
</body>

</html>