<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <title>bits, please</title>

    <!-- Bootstrap -->
    <link type='text/css' href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link type='text/css' href="stylesheets/styles.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link type='text/css' rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li><a href="/bitzplz">Demo</a>
                    </li>
                    <li><a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>bits, please<br><small style = "color:#ffffff;">The ultimate color analytics tool for Flickr</small></h1>
            <p>A web application that pulls and analyzes the latest Flickr images and allows you to sort them by color. </p>
            <p><a class="btn btn-primary btn-lg" href="/demo" role="button">View demo &raquo;</a>
            </p>
        </div>
    </div>

    <div class="layerAlpha">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h1>Flickr integration</h1>
                    <hr class="hrHeadingTop">
                    <hr class="hrHeadingBottom">
                    <p class="lead">With over 87 million registered users and upwards of 6 billion photos, Flickr is one of the largest image and video hosts on the internet. bits, please utilizes the Flickr API to collect the 500 of the most recent images from Flickr and stores their metadata within a Mongo database.</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <img src="img/blanklaptop.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div class="layerBeta">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <img src="img/blanklaptop.png" class="img-responsive">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 style = "text-align: right;">Color analysis</h1>
                    <hr class="hrHeadingTopRight">
                    <hr class="hrHeadingBottomRight">
                    <p class="lead">With our color analyzing technology, bits, please scans the images for color in hexadecimal and tags them with one of the six primary and secondary color names. The application then allows users to sort images by color preference in order to display images with specific dominant colors.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="layerAlpha">
        <div class="container">
            <div class="row">
                <div style = "margin-bottom: 3%;">
                    <h1 style = "text-align: center;">How it works</h1>
                    <hr class="hrHeadingTopCenter" style = "text-align: center;">
                    <hr class="hrHeadingBottomCenter" style = "text-align: center;">
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-download fa-3x"></i>
                    <h2>Snatch</h2>
                    <p>Our application pulls the 500 most recent flickr images using the flickr API and puts it into our database.</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-magic fa-3x"></i>
                    <h2>Analyze</h2>
                    <p>Next, the application scans the images for their primary colors and stores those values into the database.</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <h2>Display</h2>
                    <p>The application then pulls from the database and displays the images in order of upload time.</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-list fa-3x"></i>
                    <h2>Sort</h2>
                    <p>Finally, the application allows users to sort the images by color and view a color report for each picture</p>
                </div>
            </div>
        </div>
    </div>

    <div class="layerBeta">
        <div class="container">
            <div class="row">
                <div class="col-md-12"  style = "text-align: center;">
                    <div class="clearfix"></div>
                    <h1>Test and download</h1>
                    <hr class="hrHeadingTopCenter">
                    <hr class="hrHeadingBottomCenter">
                    <p>Test bits, please in your browser or on your desktop.</p>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-3"></div>
                <div class="col-md-3" style = "text-align: center; margin-top: 20px;">
                    <a href = "/usage"><i class="fa fa-download fa-5x mainblue centered"></i>
                    <h3 class = "centered">Download ZIP file</h3></a>
                </div>
                <div class="col-md-3" style = "text-align: center; margin-top: 20px;">
                    <a href = "#"><i class="fa fa-github fa-5x mainblue centered"></i> 
                        <h3 class = "centered">Check us out on GitHub</h3></a>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <h5 class = "white">©Hackstreet Boys 2015</h5>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
</body>

</html>
