<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <title>bits, please</title>

    <!-- Bootstrap -->
    <link type='text/css' href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link type='text/css' href="stylesheets/styles.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link type='text/css' rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.ejs">Home</a>
                    </li>
                    <li><a href="demo.html">Demo</a>
                    </li>
                    <li><a href="useage.html">Usage</a>
                    </li>
                    <li><a href="about.html">About</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>bits, please<br><small style = "color:#ffffff;">The ultimate flickr color sorter</small></h1>
            <p>A web application that pulls and analyzes the latest flickr images and allows you to sort them by color. It provides data analytics for the photos that is used for research.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">View demo &raquo;</a>
            </p>
        </div>
    </div>

    <div class="layerAlpha">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h1>flickr integration</h1>
                    <hr class="hrHeadingTop">
                    <hr class="hrHeadingBottom">
                    <p class="lead">View the most recent images uploaded to <a href = "https://www.flickr.com/" target = _blank>flickr</a></p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <img src="img/blanklaptop.png" class="img-responsive">
                </div>
            </div>

        </div>
    </div>

    <div class="layerBeta">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <img src="img/blanklaptop.png" class="img-responsive">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 style = "text-align: right;">Color analysis</h1>
                    <hr class="hrHeadingTopRight">
                    <hr class="hrHeadingBottomRight">
                    <p class="lead">View the most recent images uploaded to flickr</p>
                </div>
            </div>

        </div>
    </div>

    <div class="layerAlpha">
        <div class="container">
            <div class="row">
                <div style = "margin-bottom: 3%;">
                    <h1 style = "text-align: center;">How it works</h1>
                    <hr class="hrHeadingTopCenter" style = "text-align: center;">
                    <hr class="hrHeadingBottomCenter" style = "text-align: center;">
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-download fa-3x"></i>
                    <h2>Snatch</h2>
                    <p>Our application pulls the 500 most recent flickr images using the flickr API and puts it into our database</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-magic fa-3x"></i>
                    <h2>Analyze</h2>
                    <p>Next, the application scans the images for their primary colors and stores those values into the database</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <h2>Display</h2>
                    <p>The application then pulls from the database and displays the images in order of upload time</p>
                </div>
                <div class="col-lg-3 col-md-6 centered">
                    <i class="fa fa-list fa-3x"></i>
                    <h2>Sort</h2>
                    <p>Finally, the application allows users to sort the images by color and view a color report for each picture</p>
                </div>
            </div>
        </div>
    </div>

    <div class="layerBeta">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1>Test and downlaod</h1>
                    <hr class="hrHeadingTop">
                    <hr class="hrHeadingBottom">
                    <p>Test bits, please on</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <i class="fa fa-download fa-5x"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="layerAlpha">
        <div class="container">
            <div class="row">
                <div style = "margin-bottom: 3%;">
                    <h1>The Hackstreet Boys</h1>
                    <hr class="hrHeadingTop">
                    <hr class="hrHeadingBottom">
                </div>
                <div class="col-md-3">
                    <img src="img/jason_wu.jpg">
                    <h2>Jason Wu</h2>
                    <h3>Systems Architect,<br>Back End Developer</h3>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a href="resumes/jason_wu_resume_2015.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View resume</a>
                    </p>
                    <p><a href="http://www.linkedin.com/in/jasonalvinwu/en" target="_blank"><i class="fa fa-linkedin-square fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View LinkedIn profile</a>
                    </p>
                    <p><a class="btn btn-default" href="#" role="button">Full Bio »</a>
                    </p>
                </div>
                <hr class = "colHr">
                <div class="col-md-3">
                    <img src="img/shaun_berkley.jpg">
                    <h2>Shaun Berkley</h2>
                    <h3>Front End Developer,<br>UX/UI Designer</h3>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a href="resumes/shaun_berkley_resume_2015.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View resume</a>
                    </p>
                    <p><a href="http://www.linkedin.com/in/shaunberkley/en" target="_blank"><i class="fa fa-linkedin-square fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View LinkedIn profile</a>
                    </p>
                    <p><a class="btn btn-default" href="#" role="button">Full Bio »</a>
                    </p>
                </div>
                <hr class = "colHr">
                <div class="col-md-3">
                    <img src="img/frank_chau.jpg">
                    <h2>Frank Chau</h2>
                    <h3>Front End Developer,<br>Back End Developer</h3>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a href="resumes/frank_chau_resume_2015.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View resume</a>
                    </p>
                    <p><a href="http://www.linkedin.com/in/frankchau/en" target="_blank"><i class="fa fa-linkedin-square fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View LinkedIn profile</a>
                    </p>
                    <p><a class="btn btn-default" href="#" role="button">Full Bio »</a>
                    </p>
                </div>
                <hr class = "colHr">
                <div class="col-md-3">
                    <img src="img/luis_dimas.jpg">
                    <h2>Luis Dimas</h2>
                    <h3>Quality Assurance,<br>Front End Developer</h3>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a href="resumes/luis_dimas_resume_2015.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View resume</a>
                    </p>
                    <p><a href="http://www.linkedin.com/in/luisrdimas/en" target="_blank"><i class="fa fa-linkedin-square fa-2x" style = "vertical-align: middle; margin-right: 10px; color: #38424E !important;"></i>View LinkedIn profile</a>
                    </p>
                    <p><a class="btn btn-default" href="#" role="button">Full Bio »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <ul class="list-inline" style = "margin-bottom: 0%;">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="demo.html">Demo</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="usage.html">Usage</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
